{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Buy {{ item.name }}</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="{% static 'css/item.css' %}">
  </head>
  <body>
    <a href="/">Назад</a>
    <h1>{{ item.name }}</h1>

    <div class="item-card">
      <p>{{ item.description }}</p>
      <p class="price">{{ item.price }}{{ item.currency }}</p>

      <form action="{% url 'add_item' item.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Добавить в корзину">
        <button id="buy-button" type="button">Купить сейчас</button>
      </form>
    </div>

    <script type="text/javascript">
      var stripe = Stripe('{{ public_stripe_key }}');
      var itemId = '{{ item.id }}';
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function () {
        fetch(`/buy/${itemId}`, { method: 'GET' })
          .then(response => response.json())
          .then(session => {
            return stripe.redirectToCheckout({ sessionId: session.id });
          });
      });
    </script>
  </body>
</html>
