{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <title>Корзина</title>
      <link rel="stylesheet" href="{% static 'css/cart.css' %}">
      <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    {% if items %}
        {% for item in items %}
          <div>
              <h3>{{ item.name }}</h3>
              <p>Цена: {{ item.price }}</p>
              <p>Количество: {{ item.quantity }}</p>
              <p>Описание: {{ item.description }}</p>
          </div>
        {% endfor %}
        <p>Итого: {{ total_price }}</p>
    {% else %}
        <p>Пока тут пусто</p>
    {% endif %}
    <a href="/">К предметам</a>
    <button id="buy-button">Оплатить корзину</button>
    <a href="{% url 'delete_from_cart' %}" methods="POST">Очистить корзину</a>

    <script type="text/javascript">
      var stripe = Stripe('{{ public_stripe_key }}');
      var orderId = '{{ order_id }}'
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function () {
        fetch(`/buy-order/${orderId}`, { method: 'GET' })
          .then(response => response.json())
          .then(session => {
            return stripe.redirectToCheckout({ sessionId: session.id });
          })
      });
    </script>
  </body>
</html>
