<html>
  <head>
    <title>Buy cool new product</title>
  </head>
  <body>
    {% for item in all_items %}
      <div>
        <p>{{ item.name }}</p>
        <p>{{ item.description }}</p>
        <p>{{ item.price }}$$</p>
        <div>
          <form method="post">
            {% csrf_token %}
            {{ item_form }}
            <button type="submit" formaction="{% url 'add_item' item.id %}">
                Добавить в корзину
            </button>
            <button type="submit" formaction="{% url 'item' item.id %}">
                Купить сразу
            </button>
          </form>
        </div>
      </div>
    {% endfor %}
    <a href="./cart">Перейти в корзину</a>
  </body>
</html>
