<html>
  <head>
    <title>Buy cool new product</title>
  </head>
  <body>
    {% for item in all_items %}
      <div>
        <p>{{ item.name }}</p>
        <p>{{ item.description }}</p>
        <p>{{ item.price }}</p>
        <form action="{% url 'add_item' item.id %}" method="post">
          {% csrf_token %}
          {{ item_form }}
        <input type="submit" value="Добавить">
     </form>
      </div>
    {% endfor %}
    <a href="./cart">Перейти в корзину</a>
    </form>
  </body>
</html>
